@using Generacion.Models.ION;
@using Generacion.Models.Usuario;
@{
    @model List<DatosFormatoMGD>

    DetalleOperario detalleOperario = ViewData["DetalleOperario"] as DetalleOperario;


    DateTime fechaActual = DateTime.Now;

}

<style>
    .titulo-cabeceraMGD{
        text-align: center;
        font-size: 45px;
        font-weight: bold;
        border: 1px solid #e3e6f0;
    }
    .fechaMGD{
        border: 1px solid #e3e6f0;
        display: flex;
        width: 200px;
    }
</style>

<div>
    <div>
        <div class="fechaMGD">
            <div style="padding: 0 29px 0 20px;"> Fecha </div>
            <div> @fechaActual.ToString("dd/MM/yyyy") </div>
        </div>
        <div style="padding: 20px 0 20px 0;">
            <div class="titulo-cabeceraMGD">MGD @detalleOperario.IdSitio </div>
        </div>
    </div>
    <div style="display: flex;">
        <table class="table table-bordered EG">
            <thead>
                <tr>
                    <th>HORA</th>
                    <th>Potencia Activa (MW)</th>
                    <th>Potencia Reactiva (MVAR)</th>
                    <th>Tensión (kV)</th>
                    <th>Frecuencia (Hz)</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in @Model)
                {
                    <tr>
                        <td>@item.Hora</td>
                        <td>@item.KWDelInt</td>
                        <td>@item.KVARDelInt</td>
                        <td>@item.KWRecInt</td>
                        <td>@item.KVARRecInt</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



