@using Generacion.Models.LecturasCampo;
@{
    bool activar = true;
    List<int> horasGenerador = new List<int>
    {
        4,8,12,16,20,0
    };

    List<int> horasEG = new List<int>
    {
        2,4,6,8,10,12,14,16,18,20,22,0
    };

    List<int> baa901 = new List<int>
    {
        6,12,18,0
    };




    // List<DatosFormatoCampo> GasCombustibles = ViewData["GasCombustible"] as List<DatosFormatoCampo>;
    List<TiposRegistroCampo> DetalleRegistrCampo = ViewData["TipoRegistros"] as List<TiposRegistroCampo>;
    Dictionary<string, List<DatosFormatoCampo>> FormatoCampo = ViewData["CabeceraHorizontal"] as Dictionary<string, List<DatosFormatoCampo>>;
    // List<TiposDeRegistroConsola> detalleRegistro = ViewData["TipoRegistros"] as List<TiposDeRegistroConsola>;
    // Dictionary<string, CabecerasTablaCampo> detalleCabecerasCampo = ViewData["DatoscabeceraCampo"] as Dictionary<string, CabecerasTablaCampo>;

    //TRAENDO DATA DE  QUERY LECTURACAMPO PARA CABEZALES PRINCIPALES
    var SistemaGasCombustible = DetalleRegistrCampo.Where(x => x.IdRegistroConsola == "SIST_GAS_COMBUSTIBLE").Select(x => x).FirstOrDefault();
    var AguaRefrigMotor = DetalleRegistrCampo.Where(x => x.IdRegistroConsola == "SIST_AGUA_REFRIG_MOTOR").Select(x => x).FirstOrDefault();
    var AguaRefrigLt = DetalleRegistrCampo.Where(x => x.IdRegistroConsola == "SIST_AGUA_REFRIG_LT").Select(x => x).FirstOrDefault();
    var AguaRefrigHt = DetalleRegistrCampo.Where(x => x.IdRegistroConsola == "SIST_AGUA_REFRIG_HT").Select(x => x).FirstOrDefault();

    var EntradaSalidaRad = DetalleRegistrCampo.Where(x => x.IdRegistroConsola == "ENTRADA_SALIDA_AGUA_RADIADORES").Select(x => x).FirstOrDefault();
    var CompresIntrument = DetalleRegistrCampo.Where(x => x.IdRegistroConsola == "COMPRESOR_INSTRUMENTACION").Select(x => x).FirstOrDefault();
    var CompresArranque = DetalleRegistrCampo.Where(x => x.IdRegistroConsola == "COMPRESOR_AIRE_ARRANQUE").Select(x => x).FirstOrDefault();
    var Generador = DetalleRegistrCampo.Where(x => x.IdRegistroConsola == "GENERADOR").Select(x => x).FirstOrDefault();
    var Complementario = DetalleRegistrCampo.Where(x => x.IdRegistroConsola == "COMPLEMENTARIOS").Select(x => x).FirstOrDefault();
    var Inspecciones = DetalleRegistrCampo.Where(x => x.IdRegistroConsola == "INSPECCIONES").Select(x => x).FirstOrDefault();
    var SistComunes = DetalleRegistrCampo.Where(x => x.IdRegistroConsola == "SIST_COMUNES").Select(x => x).FirstOrDefault();


}

<style>
    .lectura input {
        width: 130px;
        height: 26px;
    }

    .lectura span {
        width: 165px;
        padding: 0px 35px 0 35px;
        margin-bottom: 1rem;
        color: #858796;
    }

    .lectura {
        display: flex;
        border: 1px solid #e3e6f0;
    }

        .lectura div {
            width: 40%;
            border: 1px solid #e3e6f0;
        }

    .EG td {
        width: 65px !important;
        text-align: center;
    }

    .LM td {
        width: 115px !important;
        text-align: center;
    }

    .EG input {
        width: 65px !important;
    }

    .EG th {
        text-align-last: center;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
    }

    .title-table {
        text-align-last: center;
        background: gainsboro;
        font-weight: bold;
        font-size: 20px;
    }

    .content-report {
        border: solid;
        padding: 40px;
    }

    .row {
        margin-right: inherit;
        margin-left: inherit;
    }

    .subTitulo-consola {
        text-align: inherit;
        font-size: 20px;
        font-weight: bold;
        padding: 0 0 0 10px;
        background: darkgray;
    }

    .btnMostrarGE {
        border-block-end-color: red;
    }

    .btnMostrarGE1 {
        display: none;
    }



    table {
        table-layout: fixed;
    }

    .sticky-header {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 2;
       
        font-size:13px;
    }

    th.static {
        font-size:14px;
        position: sticky;
        top: 0;
        background-color: #fff; 
        z-index: 2; 
    }

    .Title-Column{
        font-size:14px;
    }

    .space{
        width:60px;
    }
    .colortitle{
        width: 130px;
        background: darkgray;
        color:black;
    }

    .new thead th[colspan="6"] {
        width: 100%; 
    }
    .letraInspeccion{
        font-size:12px;
    }


    th:nth-child(n+10),
    td:nth-child(n+10) {
        display: none;
    }

    .principal {
        cursor: pointer;
    }
    .principal2 {
        cursor: pointer; 
    }
    .principal3 {
        cursor: pointer; 
    }

    .principal4 {
        cursor: pointer; 
    }
</style>


<div class="header-detail-report">
    <div class="title-report col-md-12">
        <h2>Central Termica Luren EG - 01</h2>
        <h3 style="font-size: inherit;">LECTURAS DE CAMPO</h3>
    </div>
    <div class="row">
        <div class="col-md-6" style="display: flow;">
            <img class="image-logo" src="./img/logo_elec.png" />
        </div>
        <div class="col-md-6">
            <div>
                <p>Versión 00 ELD-CTL-OM002</p>
            </div>
            <div>
                <p1>Fecha</p1>
                @{
                    var date = DateTime.Now;
                                            <p>@date.ToString("dd/MM/yyyy")</p>
                }
               
            </div>
            <div class="subTitulo-consola">
                <p1 style="text-align: inherit;">Operadores</p1>

            </div>
            <div>
                <p1>Turno 1</p1>
                <p class="idOperario">E. Codarlupo / R. Ramos</p>
            </div>
            <div>
                <p1>Turno 2</p1>
                <p>R. Ramos / R.More</p>
            </div>
            <div>
                <p1>Turno 3</p1>
                <p>H. Cerron / W. Arevalo</p>
            </div>
        </div>
    </div>
</div>
<div style="text-align: right;">
    <button class="btn btn-primary " id="GuardarDatos">Guardar Datos</button>
</div>
<div class="console-content">
    <div id="datos-EG1">
        <div style="padding :10px;" >
            <div style="overflow: auto; width: 100%; height: 85vh;">
                <button id="mostrarOcultar">+</button>
                <div class="title-table principal">
                        <p id="idRegistro" claveRegistro='principal'>
                            PRINCIPAL
                        </p>
                    
                </div>

                <table class="table table-bordered EG ocultar boton1" id="tabla-Principal">
                    <thead>
                        <tr>
                            <th id="principal" class="sticky-header space" scope="col" style="width: 232px;">Principal</th>
                            <th class="sticky-header space" scope="col">Und</th>
                            <th class="sticky-header space" scope="col">Rango</th>
                            <th class="sticky-header space" scope="col">2:00</th>
                            <th class="sticky-header space" scope="col">4:00</th>
                            <th class="sticky-header space" scope="col">6:00</th>
                            <th class="sticky-header space" scope="col">8:00</th>
                            <th class="sticky-header space" scope="col">10:00</th>
                            <th class="sticky-header space" scope="col">12:00</th>
                            <th class="sticky-header space" scope="col">14:00</th>
                            <th class="sticky-header space" scope="col">16:00</th>
                            <th class="sticky-header space" scope="col">18:00</th>
                            <th class="sticky-header space" scope="col">20:00</th>
                            <th class="sticky-header space" scope="col">22:00</th>
                            <th class="sticky-header space" scope="col">00:00</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th id="potencia" class="static potencia_activa" scope="row">POTENCIA ACTIVA</th>
                            <td id="unidad">kW</td>
                            <td id="rango">0-93411</td>
                            <td id="potencia2"><input ></td>
                            <td id="4:00"><input type="text"></td>
                            <td id="6:00"><input type="text"></td>
                            <td id="8:00"><input type="text"></td>
                            <td id="10:00"><input type="text"></td>
                            <td id="12:00"><input type="text"></td>
                            <td id="14:00"><input type="text"></td>
                            <td id="16:00"><input type="text"></td>
                            <td id="18:00"><input type="text"></td>
                            <td id="20:00"><input type="text"></td>
                            <td id="22:00"><input type="text"></td>
                            <td id="00:00"><input type="text"></td>
                        </tr>
                        <tr>
                            <th id="operacion" class="Title-Column letraInspeccion static HorasOperacion" scope="row">HORAS DE OPERACION</th>
                            <td id="unidad">h</td>
                            <td id="rango">WOIS</td>
                            <td id="operacion2"><input ></td>
                            <td id="4:00"><input type="text"></td>
                            <td id="6:00"><input type="text"></td>
                            <td id="8:00"><input type="text"></td>
                            <td id="10:00"><input type="text"></td>
                            <td id="12:00"><input type="text"></td>
                            <td id="14:00"><input type="text"></td>
                            <td id="16:00"><input type="text"></td>
                            <td id="18:00"><input type="text"></td>
                            <td id="20:00"><input type="text"></td>
                            <td id="22:00"><input type="text"></td>
                            <td id="00:00"><input type="text"></td>
                        </tr>
                        <tr>
                            <th id="temperatura" class="Title-Column letraInspeccion static tempAmbiente" scope="row">TEMPERATURA AMBIENTE</th>
                            <td id="unidad">°C</td>
                            <td id="rango">10-35</td>
                            <td id="temperatura2"><input ></td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th id="humedad" class="Title-Column letraInspeccion static humedadRelativa" scope="row">HUMEDAD RELATIVA</th>
                            <td id="unidad">%</td>
                            <td id="rango">30-100</td>
                            <td id="humedad2"><input ></td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>

                      
                    </tbody>
                </table>
                @* SISTEMA DE GAS COMBUSTIBLE *@
                <div class="title-table principal2">
                    <p id="idRegistro" claveRegistro='@SistemaGasCombustible.IdRegistroConsola'>@SistemaGasCombustible.TipoRegistro</p>
                </div>
                <table class="table table-bordered EG ocultar boton2" id="tabla-EG2">
                    <tbody>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row" style="width: 250px;">PRESION DE ENTRADA DE GAS</th>
                            <td id="unidad">BAR</td>
                            <td id="rango">6.0-7.0</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">DIFERENCIAL DE PRESION ENTRADA DE GAS PRINCIPAL</th>
                            <td id="unidad">mbar</td>
                            <td id="rango">0-30</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">DIFERENCIAL DE PRESION DE ENTRADA DE GAS AL MOTOR</th>
                            <td id="unidad">BAR</td>
                            <td id="rango">0.034</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">CONTADOR DE FLUJO</th>
                            <td id="unidad">KG</td>
                            <td id="rango"></td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                    </tbody>
                </table>
                @* sISTEMA DE AGUA REFRIGERACION AL MOTOR *@
                <div class="title-table principal3">
                    <p id="idRegistro" claveRegistro='@AguaRefrigMotor.IdRegistroConsola'>@AguaRefrigMotor.TipoRegistro</p>
                </div>
                <table class="table table-bordered EG ocultar boton3" id="tabla-EG3">
                    <tbody>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row" style="width: 250px;">TEMPERATURA DE ENTRADA PRINC. DE AGUA AL MOTOR(T001)</th>
                            <td id="unidad">°C</td>
                            <td id="rango">20-40</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">PRESION DE ENTRADA PRINC. DE AGUA AL MOTOR(P001)</th>
                            <td id="unidad">BAR</td>
                            <td id="rango">1.0-1.8</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">TEMPERATURA DE SALIDA PRINCIPAL DE AGUA AL MOTOR(PE007)</th>
                            <td id="unidad">C°</td>
                            <td id="rango">70-82</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">PRESION DE SALIDA PRINCIPAL DE AGUA AL MOTOR(P006)</th>
                            <td id="unidad">BAR</td>
                            <td id="rango">2.8-2.4</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                    </tbody>
                </table>

                @* sISTEMA DE AGUA REFRIGERACION POR LT *@
                <div class="title-table principal4">
                    <p id="idRegistro" claveRegistro='@AguaRefrigLt.IdRegistroConsola'>@AguaRefrigLt.TipoRegistro</p>
                </div>
                <table class="table table-bordered EG boton4" id="tabla-EG4">
                    <tbody>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row" style="width: 250px;">TEMPERATURA DE ENTRADA DE AGUA SISTEMA LT(T003)</th>
                            <td id="unidad">°C</td>
                            <td id="rango">4.-42</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">PRESION DE ENTRADA SISTEMA LT(P002)</th>
                            <td id="unidad">BAR</td>
                            <td id="rango">1.0-1.4</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>

                    </tbody>
                </table>

                @* sISTEMA DE AGUA REFRIGERACION POR HT *@
                <div class="title-table principal5">
                    <p id="idRegistro" claveRegistro='@AguaRefrigHt.IdRegistroConsola'>@AguaRefrigHt.TipoRegistro</p>
                </div>
                <table class="table table-bordered EG boton5" id="tabla-EG1">
                    <tbody>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row" style="width: 250px;">TEMPERATURA DE ENTRADA DE AGUA SISTEMA HT(T005)</th>
                            <td id="unidad">°C</td>
                            <td id="rango">50-85</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">PRESION DE ENTRADA SISTEMA HT(P004)</th>
                            <td id="unidad">BAR</td>
                            <td id="rango">1.6-2.4</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">TEMPERATURA DE SALIDA DE AGUA SISTEMA HT(TE006)</th>
                            <td id="unidad">°C</td>
                            <td id="rango">50-85</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">PRESION DE SALIDA SISTEMA HT(P005)</th>
                            <td id="unidad">BAR</td>
                            <td id="rango">1.6-2.4</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                    </tbody>
                </table>

                @* ENTRADA Y SALIDA AGUA A LOS RADIADORES*@
                <div class="title-table principal6">
                    <p id="idRegistro" claveRegistro='@EntradaSalidaRad.IdRegistroConsola'>@EntradaSalidaRad.TipoRegistro</p>
                </div>
                <table class="table table-bordered EG boton6" id="tabla-EG1">
                    <tbody>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row" style="width: 250px;">TEMPERATURA DE ENTRADA DE AGUA A LOS RADIADORES</th>
                            <td id="unidad">°C</td>
                            <td id="rango">75-82</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">PRESION DE ENTRADA DE AGUA A LOS RADIADORES</th>
                            <td id="unidad">BAR</td>
                            <td id="rango">1.6-2.4</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">TEMPERATURA DE SALIDA DE AGUA A LOS RADIADORES</th>
                            <td id="unidad">°C</td>
                            <td id="rango">24-32</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">PRESION DE ENTRADA DE AGUA A LOS RADIADORES</th>
                            <td id="unidad">BAR</td>
                            <td id="rango">1.0-1.6</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                    </tbody>
                </table>

                @* COMPRESOR DE INSTRUMENTACION*@
                <div class="title-table principal7">
                    <p id="idRegistro" claveRegistro='@CompresIntrument.IdRegistroConsola'>@CompresIntrument.TipoRegistro</p>
                </div>
                <table class="table table-bordered EG boton7" id="tabla-EG1">
                    <tbody>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row" style="width: 250px;">HORAS DE OPERACION</th>
                            <td id="unidad">H</td>
                            <td id="rango"></td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">TEMPERATURA DE TRABAJO</th>
                            <td id="unidad">°C</td>
                            <td id="rango">75</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">PRESION</th>
                            <td id="unidad">BAR</td>
                            <td id="rango">5.8-7.0</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">NIVEL DE ACEITE REFRIGERANTE</th>
                            <td id="unidad">%</td>
                            <td id="rango">40%</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                    </tbody>
                </table>

                @* COMPRESOR DE AIRE DE ARRANQUE*@
                <div class="title-table principal8">
                    <p id="idRegistro" claveRegistro='@CompresArranque.IdRegistroConsola'>@CompresArranque.TipoRegistro</p>
                </div>
                <table class="table table-bordered EG boton8" id="tabla-EG1">
                    <tbody>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row" style="width: 250px;">HORAS OPERACION</th>
                            <td id="unidad">H</td>
                            <td id="rango"></td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">NIVEL DE ACIETE LUBRICANTE</th>
                            <td id="unidad">%</td>
                            <td id="rango">30%</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                       
                    </tbody>
                </table>

                @* GENERADOR*@
                <div class="title-table principal9">
                    <p id="idRegistro" claveRegistro='@Generador.IdRegistroConsola'>@Generador.TipoRegistro</p>
                </div>
                <table class="table table-bordered EG boton9" id="tabla-EG1">
                    <tbody>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row" style="width: 250px;">PRESION DE BOMBA OIL BEARING D P7473H6401</th>
                            <td id="unidad">BAR</td>
                            <td id="rango">0-30</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">PRESION DE BOMBA OIL BEARING D P7473H6402</th>
                            <td id="unidad">BAR</td>
                            <td id="rango">0-30</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">GENERADOR BEARING D OIL LEVEL</th>
                            <td id="unidad">%</td>
                            <td id="rango">>900</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">GENERADOR BEARING ND OIL LEVEL</th>
                            <td id="unidad">%</td>
                            <td id="rango">>90</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                    </tbody>
                </table>

                @* COMPLEMENTARIOS*@
                <div class="title-table principal10">
                    <p id="idRegistro" claveRegistro='@Complementario.IdRegistroConsola'>@Complementario.TipoRegistro</p>
                </div>
                <table class="table table-bordered EG boton10" id="tabla-EG1">
                    <tbody>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row" style="width: 250px;">WASTEGATE</th>
                            <td id="unidad">GRADOS</td>
                            <td id="rango">NO ALRM</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        <tr>
                            <th class="Title-Column letraInspeccion" scope="row">NIVEL OIL CARTER</th>
                            <td id="unidad">CM</td>
                            <td id="rango">VISUAL</td>
                            <td id="4:00"><input></td>
                            <td id="6:00"><input></td>
                            <td id="8:00"><input></td>
                            <td id="10:00"><input></td>
                            <td id="12:00"><input></td>
                            <td id="14:00"><input></td>
                            <td id="16:00"><input></td>
                            <td id="18:00"><input></td>
                            <td id="20:00"><input></td>
                            <td id="22:00"><input></td>
                            <td id="00:00"><input></td>
                        </tr>
                        
                    </tbody>
                </table>
            
            </div>

            <br /><br />
            <div>
                <table class="table table-bordered EG new" id="tabla-EG1">

                        <thead>
                            <tr>
                                <th class="sticky-header" scope="col" style="width: 200px;">INSPECCIONES</th>
                            <th class="sticky-header space" scope="col" style="width: 90px;"></th>
                            <th class="sticky-header space" scope="col" style="width: 90px;"></th>
                                <th class="sticky-header space" scope="col" style="width: 90px;">Turno 1</th>
                                <th class="sticky-header space" scope="col" style="width: 90px;">Turno 2</th>
                                <th class="sticky-header space" scope="col" style="width: 90px;">Turno 3</th>
                                <th scope="col" style="color:black;  background: darkgray;" colspan="9">Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="Title-Column letraInspeccion" scope="row">REVISION DE FUGAS</th>
                                <td id="unidad">TESTO</td>
                                <td id="rango">CHECK</td>
                                <td></td>
                                <td> </td>
                                <td> </td>
                                
                                
                            
                            </tr>
                            <tr>
                                <th class="Title-Column letraInspeccion" scope="row">REVISION DE FUGAS DE AIRE</th>
                            <td id="unidad">VISUAL</td>
                            <td id="rango">CHECK</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                
                                
                          
                            </tr>
                            <tr>
                                <th class="Title-Column letraInspeccion" scope="row">REVISION DE FUGAS DE AGUA</th>
                                <td id="unidad">VISUAL</td>
                                <td id="rango">CHECK</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                
                                
                            
                            </tr>
                            <tr>
                                <th class="Title-Column letraInspeccion" scope="row">REVISION DE FUGAS DE ACIETE</th>
                                <td id="unidad">VISUAL</td>
                                <td id="rango">CHECK</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                
                                
                            
                            </tr>
                            <tr>
                                <th class="Title-Column letraInspeccion" scope="row">NIVEL TANQUE DE EXPANCION</th>
                            <td id="unidad">%</td>
                            <td id="rango">>30%</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                
                                
                            
                            </tr>
                            <tr>
                                <th class="Title-Column letraInspeccion" scope="row">LIMPIEZA EGOT Y SISTEMA AUXILIARES</th>
                            <td id="unidad"></td>
                            <td id="rango">CHECK</td>
                                <td></td>
                                <td></td>
                                <td></td>
                               
                               
                            
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th scope="col" style="color:black;  background: darkgray;" colspan="6">SISTEMA COMUNES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="Title-Column letraInspeccion" scope="row">NIVEL DEL TANQUE DE ACIETE</th>
                            <td id="unidad">%</td>
                            <td id="rango">>10%</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                
                                
                            
                            </tr>
                            <tr>
                                <th class="Title-Column letraInspeccion" scope="row">NIVEL DEL TANQUE DEL SISTEMA</th>
                            <td id="unidad">M</td>
                            <td id="rango">>7M</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                
                                
                            
                            </tr>
                            <tr>
                                <th class="Title-Column letraInspeccion" scope="row">LIMPIEZA DE SALA DE MAQUINAS</th>
                            <td id="unidad"></td>
                            <td id="rango">CHECK</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                
                                
                            
                            </tr>
                        </tbody>
@*                     <tfoot>
                        <tr>
                            <th colspan="9"></th>
                            <!-- Agrega un campo de entrada de texto debajo de la columna "Observaciones" -->
                            <td><textarea style="width: 100%;"></textarea></td>
                        </tr>
                    </tfoot> *@
                </table>
                
            </div>
        </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function () {
        $("#GuardarDatos").click(function () {
            var inputprincipal = "SIST_GAS";
            var inputHora = "2:00 PM";
            var registro = "BAA901-Station";
            var inputrango = "sdd";
            var inputunidad = "asdsd";
            var fecha = obtenerFecha("fecha");
            var inputpotencia = document.getElementById('potencia2').querySelector('input');
            var inputoperacion = document.getElementById('operacion2').querySelector('input');
            var inputtemperatura = document.getElementById('temperatura2').querySelector('input');
            var inputhumedad = document.getElementById('humedad2').querySelector('input');
            var operario = "op-47789733";
            var formato = "ELD-CTL-OM002_2023-10-06";
            var fila = 1;

           
           //  var fecha = new Date(obtenerFecha("fecha") + ' ' + inputHora); 

         
           // var fechaFormateada = fecha.toISOString().slice(0, 12).replace('T', ' ');

            console.log('potencia ' , inputpotencia  );
            var datos = {
                IdDetalleInicioCampo: inputprincipal,
                fecha: fecha,
                Hora: inputHora, 
                IdRegistroConsola: registro,
                Und: inputunidad,
                Rango: inputrango,
                P_Activa: inputpotencia.value, 
                H_Operacion: inputoperacion.value, 
                Temp_Ambiente: inputtemperatura.value, 
                Humed_Relativa: inputhumedad.value, 
                IdOperario: operario,
                IdformatoConsola: formato,
                Fila: fila
            };
            console.log('potenciadatos ', datos);
            fetch("/LecturasCampo/GuardarDatosCampo", {
                method: "POST",
                headers: {
                    
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(datos)
            })
                .then(function (response) {
                    //console.log(response);
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });


        });
    });


    const mostrarOcultarButton = document.getElementById("mostrarOcultar");
    let columnasOcultas = true;

    mostrarOcultarButton.addEventListener("click", () => {
        const columnasCabeceras = document.querySelectorAll(".ocultar th:nth-child(n+10)");
        const columnasDatos = document.querySelectorAll(".ocultar td:nth-child(n+10)");

        const columnasCabeceras1 = document.querySelectorAll("#OculatarPrimerasHoras");
        const columnasDatos1 = document.querySelectorAll("#OculatarPrimerasHoras");

        if (columnasOcultas) {
            columnasCabeceras.forEach((columna) => {
                columna.style.display = "table-cell";
            });
            columnasDatos.forEach((columna) => {
                columna.style.display = "table-cell";
            });
            mostrarOcultarButton.textContent = "-";
        } else {
            columnasCabeceras.forEach((columna) => {
                columna.style.display = "none";
            });
            columnasDatos.forEach((columna) => {
                columna.style.display = "none";
            });
            columnasCabeceras1.forEach((columna) => {
                columna.style.display = "none";
            });
            columnasDatos1.forEach((columna) => {
                columna.style.display = "none";
            });
            mostrarOcultarButton.textContent = "+";
        }

        columnasOcultas = !columnasOcultas;
    });

   



    // Obtén referencias a los elementos del DOM
    // const principalElement = document.getElementById("principal");
    const principalElement = document.querySelector(".principal"); 
    const tablaEG1 = document.querySelector(".boton1");


    principalElement.addEventListener("click", () => {
     
        if (tablaEG1.style.display === "none" || tablaEG1.style.display === "") {
     
            tablaEG1.style.display = "table";
        } else {
          
            tablaEG1.style.display = "none";
        }
    });

    const principalElement2 = document.querySelector(".principal2"); 
    const tablaEG2 = document.querySelector(".boton2");


    principalElement2.addEventListener("click", () => {

        if (tablaEG2.style.display === "none" || tablaEG2.style.display === "") {

            tablaEG2.style.display = "table";
        } else {
 
            tablaEG2.style.display = "none";
        }
    });
    const principalElement3 = document.querySelector(".principal3"); 
    const tablaEG3 = document.querySelector(".boton3");


    principalElement3.addEventListener("click", () => {
        
        if (tablaEG3.style.display === "none" || tablaEG3.style.display === "") {
           
            tablaEG3.style.display = "table";
        } else {
        
            tablaEG3.style.display = "none";
        }
    });

    const principalElement4 = document.querySelector(".principal4"); 
    const tablaEG4 = document.querySelector(".boton4");


    principalElement4.addEventListener("click", () => {
 
        if (tablaEG4.style.display === "none" || tablaEG4.style.display === "") {
       
            tablaEG4.style.display = "table";
        } else {
           
            tablaEG4.style.display = "none";
        }
    });

    const principalElement5 = document.querySelector(".principal5"); 
    const tablaEG5 = document.querySelector(".boton5");

    
    principalElement5.addEventListener("click", () => {
        
        if (tablaEG5.style.display === "none" || tablaEG5.style.display === "") {
          
            tablaEG5.style.display = "table";
        } else {
            
            tablaEG5.style.display = "none";
        }
    });

    const principalElement6 = document.querySelector(".principal6"); 
    const tablaEG6 = document.querySelector(".boton6");

  
    principalElement6.addEventListener("click", () => {
        
        if (tablaEG6.style.display === "none" || tablaEG6.style.display === "") {
            
            tablaEG6.style.display = "table";
        } else {
            
            tablaEG6.style.display = "none";
        }
    });

    const principalElement7 = document.querySelector(".principal7"); 
    const tablaEG7 = document.querySelector(".boton7");

    
    principalElement7.addEventListener("click", () => {
        
        if (tablaEG7.style.display === "none" || tablaEG7.style.display === "") {
            
            tablaEG7.style.display = "table";
        } else {
            
            tablaEG7.style.display = "none";
        }
    });

    const principalElement8 = document.querySelector(".principal8"); // Selecciona por clase
    const tablaEG8 = document.querySelector(".boton8");

    // Agrega un controlador de eventos al elemento "Principal"
    principalElement8.addEventListener("click", () => {
        // Verifica si la tabla está actualmente visible
        if (tablaEG8.style.display === "none" || tablaEG8.style.display === "") {
            // Si está oculta, muéstrala
            tablaEG8.style.display = "table";
        } else {
            // Si está visible, ocúltala
            tablaEG8.style.display = "none";
        }
    });

    const principalElement9 = document.querySelector(".principal9"); // Selecciona por clase
    const tablaEG9 = document.querySelector(".boton9");

    // Agrega un controlador de eventos al elemento "Principal"
    principalElement9.addEventListener("click", () => {
        // Verifica si la tabla está actualmente visible
        if (tablaEG9.style.display === "none" || tablaEG9.style.display === "") {
            // Si está oculta, muéstrala
            tablaEG9.style.display = "table";
        } else {
            // Si está visible, ocúltala
            tablaEG9.style.display = "none";
        }
    });

    const principalElement10 = document.querySelector(".principal10"); // Selecciona por clase
    const tablaEG10 = document.querySelector(".boton10");

    // Agrega un controlador de eventos al elemento "Principal"
    principalElement10.addEventListener("click", () => {
        // Verifica si la tabla está actualmente visible
        if (tablaEG10.style.display === "none" || tablaEG10.style.display === "") {
            // Si está oculta, muéstrala
            tablaEG10.style.display = "table";
        } else {
            // Si está visible, ocúltala
            tablaEG10.style.display = "none";
        }
    });



</script>
