

<style>

    .col-md-6 {
        width: 65%;
        padding: 0 0 10px;
    }

    .inputs-details input {
        pointer-events: none;
        background-color: #ede9e9;
        color: black;
        border: 1px solid #ccc;
    }

    .card-body {
        padding: 20px;
        background-color: white !important;
        margin: 10px;
        border-radius: 5px;
        width: 50%;
    }

</style>


<div style="display: flex; padding: 20px; ">
    <div class="card-body">
        <div style="padding:20px" id="ResetPasswordContent">
            <div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0 title-web">
                    <h4>Contraseña</h4>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating mb-3 mb-md-0">
                        <input class="form-control" id="inputPasswordOld" Name="passwordOld" type="password" placeholder="Create a password" />
                        <label for="inputPassword">Contraseña anterior</label>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-floating mb-3 mb-md-0">
                        <input class="form-control" id="inputPasswordNew" Name="passwordNew" type="password" placeholder="Create a password">
                        <label for="inputPassword" id="newPasswordLabel">Nueva Contraseña</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3 mb-md-0">
                        <input class="form-control" id="inputPasswordConfirm" Name="passwordConfirm" type="password" placeholder="Confirm password">
                        <label for="inputPasswordConfirm">Confirmar contraseña</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0">
                    <a class="btn btn-primary btn-block" id="SavePassword">Guardar contraseña</a>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body inputs-details">
        <div style="padding:20px">
            <div class="col-md-6 ">
                <div class="form-floating mb-3 mb-md-0 title-web">
                    <h4>Datos de cuenta</h4>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating mb-3 mb-md-0">
                        <input class="form-control" type="text" value="@Model.NameUser" tabindex="-1">
                        <label for="inputPassword" disabled="false;">Nombres</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3 mb-md-0">
                        <input class="form-control" type="text" value="@Model.LastName" tabindex="-1">
                        <label for="inputPassword">Apellidos</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3 mb-md-0">
                        <input class="form-control" type="text" value="@Model.Email" tabindex="-1">
                        <label for="inputPasswordConfirm">Correo electrónico</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3 mb-md-0">
                        <input class="form-control" type="text" value="@Model.DocumentNumber" tabindex="-1">
                        <label for="inputPasswordConfirm">Número de documento</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>


    $(document).ready(function () {
        $("#SavePassword").on("click", function () {
            var passwordNew = $("#inputPasswordNew").val();
            var passwordConfirm = $("#inputPasswordConfirm").val();

            if (passwordNew !== passwordConfirm) {
                $("#newPasswordLabel").addClass("message-error").text("Nueva Contraseña Incorrecto");
                return;
            } else {
                $("#newPasswordLabel").removeClass("message-error").text("Nueva Contraseña");
            }
            GetDataTable();
        });
    });


    $(document).ready(function () {
        $("#SavePassword").on("change", function () {

            GetDataTable(queryType, dateValue);
        });
    });

    function GetDataTable() {
        var passwordOld = $("#inputPasswordOld").val();
        var passwordNew = $("#inputPasswordNew").val();

        $.ajax({
            url: '@Url.Action("ResetPassword", "Inicio")',
            type: "POST",
            dataType: "json",
            data: {
                passwordOld: passwordOld,
                passwordNew: passwordNew
            },
            success: function (resultado) {
                if (resultado.Code === 0) {
                    Swal.fire({
                        title: "Success!!",
                        text: resultado.Message,
                        icon: "success",
                        button: "Aww yiss!",
                    });
                    $("#ResetPasswordContent").find("input").val("");
                } else {
                    Swal.fire({
                        title: "Error!!",
                        text: resultado.Message,
                        icon: "info",
                        button: "Aceptar",
                    });
                }


            },
            error: function (err) {
                Swal.fire({
                    title: "Error!!",
                    text: "Inténtelo más tardé.",
                    icon: "info",
                    button: "Aceptar",
                });
            }
        });
    }

</script>